[Desktop Entry]
Name=financialplanner
Comment=Financial Planner
Icon=financialplanner
Exec=financialplanner
Terminal=false
Type=Application
Categories=Graphics
GenericName=financialplanner
Keywords=tracking; money; expenses
